.buttonSell {    
    height: 50px;
    border-radius: 4px;
    font-weight: 500;
    border: 2px solid #e2ca00;
    background: transparent;
    color: #e2ca00;
    padding: 0 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: filter 0.2s;

    img {
        margin-right: 8px
    }

    &:not(:disabled):hover {
        filter: brightness(0.9)
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}